body {
    height: 800px;
    background-image: linear-gradient(rgb(245, 198, 204), rgb(213, 98, 113));
    cursor:default;
    font-family: Arial, Helvetica, sans-serif;
}

#titleContainer {

    margin: 0;

}

#title {

    font-family: 'Times New Roman';
    margin: 0;

}

#count-Container {

    margin: 0 0 20px 0;

}

#countList {

    font-size: 9px;
    font-weight: bold;
    margin: 0;

}

div{
    margin-top: 10px;
}

#inputError {

    font-size: 9px;

}

 /* class properties for completed tasks */
.checkedTask{
    text-decoration: line-through;
    opacity: 0.4;
}

ul {

    list-style: none;
}

#main {
    background-color: #FFFFFF; 
    width: 300px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 25px;
    margin: 60px auto auto;
    /* border-radius: 10px; */
    /* transition: transform 500ms;
    transform: translateY(250px); */
    animation-name: fly-in;
    animation-duration: 0.9s;
    scale: 1.2;
}

@keyframes fly-in {

    0% {
        margin-top: -250px;
        opacity: 0;
    }

    60% {
        margin-top: 100px;
        opacity: 1.0;
    }

    90% {
        margin-top: 60px;
    }
}

.Alert {
    animation-name: blink;
    animation-duration: 2s;
}

@keyframes blink {

    0% {
        opacity: 1.0;
    }

    16% {
        opacity: 0;
    }

    33% {
        opacity: 1.0;
    }

    49% {
        opacity: 0;
    }

    66% {
        opacity: 1.0;
    }

    82% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

/* I noticed that <ul> seems to have a default padding-inline-start
property, so I trimmed it to make its <li> elements more centered. */
#todolist {

    padding-inline-start: 5px;
}
li {
    animation-name: fly-up-fade-in;
    animation-duration: 500ms;
}

@keyframes fly-up-fade-in {

    0% {
        margin-top: 30px;
        opacity: 0;
    }

    60% {
        margin-top: 10px;
        opacity: 1.0;
    }

    90% {
        margin-top: 0;
    }
}

li .itemtext {

    transition: opacity 0.5s;
}

li .itemtext:hover {

    text-decoration: line-through;
    cursor: pointer;
}

li .binIcon:hover {

    cursor: pointer;

}

li span {

    margin-left: 10px;
}


